.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.gray-color {
  color: gray;
}

.pt-15 {
  padding-top: 42px !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.categoryTitle {
  font-size: 14px;
  color: gray;
  padding-bottom: 6px;
}

.itemDiv {
  padding-bottom: 5px;
  width:min-content;
  min-width: 195px;
}

.customHead {
  margin: 0px;
}

.originalPrice {
  margin-left: 8px;
  font-size: 13px;
  color: gray;
  text-decoration: line-through;
}

.disabledCss {
  font-weight: bold !important;
  color: white !important;
}

.customPriceHead {
  display: inline-flex;
  margin: 2px 0px 4px 0px;
}

.mlSize {
  font-size: 13px;
  color: gray;
}

.customButton {
  background-color: lightgreen !important;
  color: white !important;
  font-weight: bold !important;
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

h2 {
  position: absolute;
  top: 45px;
  text-align: center;
  width: 100%;
}

h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: none;
  padding: 10px;
}
