.menu-item {
  width: auto;
  padding: 0 5px;
  margin: 5px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

.imgCss {
  border-radius: 10px;
}

h2 {
  position: absolute;
  top: 45px;
  text-align: center;
  width: 100%;
}

h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: none;
  padding: 8px;
}
